/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Browser Upgrade Prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

/*
    STRUCTURE
*/
.quotation {
    width: 600px;
    margin: 50px auto 1000px;
    border: 2px solid #CE1141; /*Bulls Red*/
    padding: 2.0em;
    background: rgba(0,0,0,0.8);
    text shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

body {
    background: url(../jordan.jpg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
    TYPOGRAPHY
*/
q, p, h1, h2 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 40px;
    color: white;
    position: relative;
}

q::before {
    content: "\201C";
    position: absolute;
    top: -20px;
    left: -25px;
    font-size: 68px;
    color: red; /*Chicago Bulls Red #CE1141 --too dark/not enough pop to it*/
}

/*
    IMAGES
*/
img {
    width: 100%;
    display: block;
}

/* clearfix - in case you decide to float elements */
.group::after {
  content: "";
  display: table;
  clear: both;
}

/*
    LINKS
*/


/*
    TABLES
*/


/*
    HOME
*/


/*
    ANOTHER PAGE
*/
.quote {
    font-size: 32px;
    font-weight: 400;
}

.jordan {
    font-size: 22px;
    text-align: right;
    font-weight: 200;
    font-style: normal;
    color: white;
}

.MJclass {
    color: red;
    font-weight: 600;
}
/* MEDIA QUERIES */
/* X-Small devices (portait phones, less than 576px) */
/* All styles up to this point in the stylesheet are for X-Small */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* body { background-color: orange; } */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* body { background-color: green; } */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* body { background-color: blue; } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* body { background-color: purple; } */
}
